Aditi Hilbert <aditi@runtime.io>			<aditi@runtime.io>
Alfred Schilken <alfred@schilken.de>			<alfred@schilken.de>
Brian Giori <briangiori@gmail.com>			<bgiori@users.noreply.github.com>
Christopher Collins <ccollins@apache.org>		<ccollins476ad@gmail.com>
Christopher Collins <ccollins@apache.org>		<ccollins@iori.nightmare-heaven.no-ip.biz>
David G. Simmons <santafen@mac.com>			<davidgs@users.noreply.github.com>
Fabio Utzig <utzig@utzig.org>				<utzig@apache.org>
Francois Berder <fberder@outlook.fr>			<fberder@outlook.fr>
Gordon Klaus <gordon.klaus@gmail.com>			<gordon.klaus@telenordigital.com>
Jacob Rosenthal <jakerosenthal@gmail.com>		<jacobrosenthal@gmail.com>
Jacob Rosenthal <jakerosenthal@gmail.com>		<jacobrosenthal@localhost.localdomain>
Julian Ingram <julian.ingram@imgtec.com>		<julian.ingram@imgtec.com>
Julian Ingram <julian.ingram@imgtec.com>		<jjmingram@gmail.com>
Julian Ingram <julian.ingram@imgtec.com>		<IMGJulian@users.noreply.github.com>
Marko Kiiskila <marko@runtime.io>			<marko@runtime.io>
Marko Kiiskila <marko@runtime.io>			<marko@Markos-MacBook-Pro-2.local>
Neel Natu <neel@nahannisys.com>				<neel@neels-Air.attlocal.net>
Neel Natu <neel@nahannisys.com>				<neel@neels-MacBook-Air.local>
Peter Snyder <peterfs@apache.org>			<git@peterfs.com>
Sterling Hughes <sterling@apache.org>			<sterling@apache.org>
Sterling Hughes <sterling@apache.org>			<sterling@micosa.net>
Sterling Hughes <sterling@apache.org>			<sterling@runtime.io>
Sterling Hughes <sterling@apache.org>			<sterlinghughes@users.noreply.github.com>
Szymon Janc <szymon.janc@codecoup.pl>			<szymon.janc@gmail.com>
Vipul Rahane <vipulrahane@apache.org>			<vipul@runtime.io>
Vipul Rahane <vipulrahane@apache.org>			<vrahane@gmail.com>
William San Filippo <wills@runtime.io>			<will@micosa.io>
William San Filippo <wills@runtime.io>			<wills@runtime.io>
