Aditi Hilbert <aditi.hilbert@juul.com>			<aditi.hilbert@juul.com>
Aditi Hilbert <aditi.hilbert@juul.com>			<aditi@runtime.io>
Aditi Hilbert <aditi.hilbert@juul.com>			<aditi.hilbert@juul-aditihilbert-mbt15.local>
Alfred Schilken <alfred@schilken.de>			<alfred@schilken.de>
Alvaro Prieto <alvaroprieto@verily.com>			<gitkraken@alvaroprieto.com>
Alvaro Prieto <alvaroprieto@verily.com>			<source@alvaroprieto.com>
Amr Bekhit <amrbekhit@gmail.com>			<amrbekhit@gmail.com>
Amr Bekhit <amrbekhit@gmail.com>			<abekhit@yasamteknik.com>
Ben McCrea <bmccrea@juul.com>				<benmccrea@users.noreply.github.com>
Brian Giori <briangiori@gmail.com>			<bgiori@users.noreply.github.com>
Brian Warren <brian@juul.com>				<brian@pax.com>
Christopher Collins <ccollins@apache.org>		<ccollins476ad@gmail.com>
Christopher Collins <ccollins@apache.org>		<ccollins@iori.nightmare-heaven.no-ip.biz>
Christopher Collins <ccollins@apache.org>		<ccollins@elfenlied.local>
David G. Simmons <santafen@mac.com>			<davidgs@users.noreply.github.com>
David Lee <david@runtime.io>				<34385265+dlee-rt@users.noreply.github.com>
David Lee <david@runtime.io>				<34385265+dlee-rt@users.noreply.github.com>
Fabio Utzig <utzig@utzig.org>				<utzig@apache.org>
Francois Berder <fberder@outlook.fr>			<fberder@outlook.fr>
Gordon Klaus <gordon.klaus@gmail.com>			<gordon.klaus@telenordigital.com>
Jacob Rosenthal <jakerosenthal@gmail.com>		<jacobrosenthal@gmail.com>
Jacob Rosenthal <jakerosenthal@gmail.com>		<jacobrosenthal@localhost.localdomain>
Jerzy Kasenberg <jerzy.kasenberg@codecoup.pl>		<kasjer@users.noreply.github.com>
Jerzy Kasenberg <jerzy.kasenberg@codecoup.pl>		<jerzy.kasenberg@gmail.com>
Julian Ingram <julian.ingram@imgtec.com>		<julian.ingram@imgtec.com>
Julian Ingram <julian.ingram@imgtec.com>		<jjmingram@gmail.com>
Julian Ingram <julian.ingram@imgtec.com>		<IMGJulian@users.noreply.github.com>
JustineKH <justine@juul.com>				<35044800+JustineKH@users.noreply.github.com>
Kevin Townsend <contact@microbuilder.eu>		<contact@microbuilder.eu>
Marko Kiiskila <marko@apache.org>			<marko@runtime.io>
Marko Kiiskila <marko@apache.org>			<marko@Markos-MacBook-Pro-2.local>
Matthew Warnes <matthewwarnes@outlook.com>		<36331729+matthewwarnes@users.noreply.github.com>
Neel Natu <neel@nahannisys.com>				<neel@neels-Air.attlocal.net>
Neel Natu <neel@nahannisys.com>				<neel@neels-MacBook-Air.local>
Nolan Lau <nolan@juul.com>				<33846322+brolan-juul@users.noreply.github.com>
Peter Snyder <peterfs@apache.org>			<git@peterfs.com>
Sterling Hughes <sterling@apache.org>			<sterling@apache.org>
Sterling Hughes <sterling@apache.org>			<sterling@micosa.net>
Sterling Hughes <sterling@apache.org>			<sterling@runtime.io>
Sterling Hughes <sterling@apache.org>			<sterlinghughes@users.noreply.github.com>
Szymon Janc <szymon.janc@codecoup.pl>			<szymon.janc@gmail.com>
Vipul Rahane <vipulrahane@apache.org>			<vipul@runtime.io>
Vipul Rahane <vipulrahane@apache.org>			<vrahane@gmail.com>
Will San Filippo <william.sanfilippo@juul.com>		<will@micosa.io>
Will San Filippo <william.sanfilippo@juul.com>		<wills@runtime.io>
